pyparsing==3.0.7
tqdm==4.64.0
aiosignal==1.2.0
torch==1.11.0
attrs==21.4.0
joblib==1.1.0
pyarrow==7.0.0
aiohttp==3.8.1
python-dateutil==2.8.2
sacremoses==0.0.49
idna==3.3
multidict==6.0.2
fsspec==2022.3.0
yarl==1.7.2
accelerate==0.6.2
numpy==1.22.3
tokenizers==0.11.6
regex==2022.3.15
adapter-transformers==3.0.0
pyyaml==6.0
packaging==21.3
click==8.1.2
pytz==2022.1
six==1.16.0
filelock==3.6.0
dill==0.3.4
huggingface-hub==0.5.0
pandas==1.4.2
charset-normalizer==2.0.12
frozenlist==1.3.0
datasets==2.0.0
async-timeout==4.0.2
urllib3==1.26.9
requests==2.27.1
responses==0.18.0
typing-extensions==4.1.1
xxhash==3.0.0
multiprocess==0.70.12.2